///////////////////////////////////////////////////
/// typography
///////////////////////////////////////////////////
// font-size
$f-size-m: 1.7rem;

// letter-spacing
$l-sp-xs: 0.5px;
$l-sp-s: 1px;

///////////////////////////////////////////////////
/// spacing
///////////////////////////////////////////////////
// padding
$pad-s: 0.5rem;
$pad-l: 2rem;

// margin
$margin-s: 1rem;
$margin-m: 2rem;
