@use "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("https://images.pexels.com/photos/796602/pexels-photo-796602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center;
  background-size: cover;
  padding: config.$pad-l;
}

h1 {
  margin-bottom: config.$margin-s;
}
p {
  margin-bottom: config.$margin-m;
}

fieldset {
  border: none;
  margin-bottom: config.$margin-m;
}

input,
select,
textarea {
  padding: config.$pad-s;
  width: 100%;
  height: 2rem;
  border-radius: 0.24rem;
  margin: 0.5rem 0 0.7rem;
  transition: 0.2s;
  border: none;
  &:active,
  &:focus {
    box-shadow: 0 0 0.1rem 0.3rem rgb(238, 130, 238, 0.8);
    outline: none;
  }
}

legend {
  margin-bottom: 1rem;
}

textarea {
  height: 4rem;
}

@media (max-width: 340px) {
  html {
    font-size: 95%;
  }
}
