body {
  font-family: Tahoma, sans-serif;
}

form {
  font-size: 1.1rem;
  color: #f3f3f3;
}

input[type="submit"] {
  color: #f3f3f3;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
